*{
    margin: 0;
    padding: 0;
}
.head{
    background-image: linear-gradient(to right,gold,orange);
}
.head .container .row{
    padding: 220px 0;
}
.head .container .row .col-md-6 .btn{
    margin-top: 20px;
    margin-right: 20px;
    background: none;
    border-color: black;
    color: black;
}
.head .container .row .col-md-6 .btn:hover{
    background-color: black;
    color: yellow;
    border: none;
}
/*Main section*/
.main{
    background-image: linear-gradient(to right,gold,orange);
}
.main .container .row select{
    margin: 50px 0;
    width: 1200px;
}
.main .container .btn{
    margin: 10px 0;
    background: none;
    border-color: black;
    color: black;
}
.main .container .btn:hover{
    background-color: black;
    color: yellow;
}
/*footer*/
.footer{
    background-image: linear-gradient(to right,gold,orange);
}
.footer .container .row .heading{
    font-size: 40px;
    font-weight: 400;
    margin-top: 150px;
}
.footer .container .row .col-md-6 .subhead{
    font-size: 20px;
    font-weight: 400;
}
.footer .container .row .col-md-6 .details{
    font-size: 17px;
    font-weight: 300;
    margin: 5px 0;
}
.footer .container .row .col-md-6 .details svg{
    margin: 0 5px;
}
.footer .container .row .col-md-6 .h{
    font-size: 20px;
    font-weight: 400;
}
.footer .container .row .col-md-6 .text{
    font-weight: 350;
    font-size: 17px;
}
.footer .container .row .col-md-6 .text a{
    color: black;
}
